@media (min-width: 768px) {
  .gallery .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
  }

  .gallery .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery .swiper-slide .img-overlay {
    position: relative;
    width: 120px;
    height: auto;
  }

  .gallery .swiper-slide.swiper-slide-active {
    flex-basis: 415px;
  }

  .gallery .swiper-slide.swiper-slide-active .img-overlay {
    width: 100%;
  }

  .gallery .swiper-slide:not(.swiper-slide-active) .img-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 15, 8, 0.75);
    z-index: 10;
  }

  .gallery .swiper-slide.swiper-slide-next,
  .gallery .swiper-slide.swiper-slide-prev {
    flex-basis: 120px;
  }

  .gallery .swiper-slide.swiper-slide-next img,
  .gallery .swiper-slide.swiper-slide-prev img {
    opacity: 0.5;
  }
}

@media (min-width: 1280px) {
  .gallery .swiper {
    height: 429px;
  }

  .gallery .swiper-slide .img-overlay {
    width: 313px;
  }

  .gallery .swiper-slide.swiper-slide-active {
    flex-basis: 606px;
  }
}
