/* .swiper {
  height: 307px;
} */

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */

  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 0.171; */
  /* height: 87px; */
}

.img-overlay {
  position: relative;
  width: 100%;
  height: auto;
}

.swiper-slide:not(.swiper-slide-next) .img-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 15, 8, 0.75);
  z-index: 10;
}

.swiper-slide.swiper-slide-next {
  /* width: 458px;
  height: 306px; */
  /* flex: 0.59; */
}
