.service .swiper {
  height: 739px;
}

/* .swiper-wrapper {
  width: 480px;
  height: 100%;
} */

/* .service .swiper-slide {
  display: none;
} */
/* .service .swiper-slide-active {
  display: block;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
} */
