/* .swiper {
  width: 480px;
  height: 100%;
}

.swiper-wrapper {
  width: 480px;
  height: 100%;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
} */
