@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  font-weight: 500;
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
}
