@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
}

@layer components {
  .title {
    @apply text-[40px] font-100 leading-[1.4] tracking-[-1.6px] md:text-[67px] md:leading-normal md:tracking-[-2.68px] lg:text-[98px] lg:tracking-[-3.92px] uppercase;
  }

  .contacts {
    @apply text-[14px] font-400 leading-[1.71] hover:underline md:text-[16px] md:leading-[1.5] lg:text-[18px] lg:leading-[1.33];
  }

  .label {
    @apply text-[12px] font-200 leading-[2] tracking-[2.4px];
  }

  .input {
    @apply text-[13px] font-200 leading-[1.85] bg-input placeholder:opacity-50 lg:text-[20px] lg:leading-[1.2];
  }

  .about-text {
    @apply text-[14px] leading-[1.43] md:text-[16px] md:leading-[1.25] lg:text-[18px] lg:leading-[1.33];
  }

  .career-text {
    @apply text-[14px] leading-[1.43] md:text-[16px] md:leading-[1.25] lg:text-[18px] lg:leading-[1.33];
  }

  .career-desc {
    @apply text-[12px] font-200 leading-[1.67] lg:w-[285px] lg:text-start lg:leading-[2];
  }
}

.input-error::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url('../assets/icons/incorrect-input.svg');
}

.active-pseudo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-image: url('../assets/icons/active-bullet.svg');
}

.hover-underline {
  position: relative;
  text-decoration: none;
}

.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.hover-underline:hover::before {
  background-color: #fff;
}
