@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
}

@layer components {
  .title {
    @apply text-[40px] font-thin leading-[1.4] tracking-[-1.6px] md:text-[67px] md:leading-normal md:tracking-[-2.68px] lg:text-[98px] lg:tracking-[-3.92px] uppercase;
  }
}

/* @layer utilities {
  .title-weight {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
} */

.input-error::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url('../assets/icons/incorrect-input.svg');
}

/* .MuiPaper-root {
  background: rgba(1, 10, 5, 0.75);
  backdrop-filter: blur(25px);
} */

.active-pseudo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-image: url('../assets/icons/active-bullet.svg');
}
