.section {
  margin-left: auto;
  margin-right: auto;

  padding-top: 56px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 56px;

  max-width: 480px;
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 50%, rgba(0, 37, 49, 0) 100%),
    url('../../assets/images/gallery.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 64px;

    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-top: 104px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 104px;

    max-width: 1440px;
  }
}
